---
import BaseLayout from "./BaseLayout.astro";
import Ingredients from "../components/ingredients/Ingredients.svelte";
import Eaters from "../components/eaters/Eaters.svelte";
import type {AllergyType, NoteType, RecipeIngredientType} from "../content/config";

let {title, description, date, tags, ingredients, notes, category} = Astro.props;

let printUrl = Astro.url + '/print/';

let allergies = ingredients
    .map((ingredient: RecipeIngredientType) => ingredient.ingredient.allergies)
    .flat()
    .filter(Boolean);
---

<BaseLayout>
    <div class="mx-2 mt-2 text-white font-bold text-xl">
        <a href="/">Home</a>
    </div>
    <div class="min-h-screen flex justify-center items-center p-2" data-pagefind-body>
        <div class="w-full xl:w-2/3">
            <h1 class="text-4xl font-bold text-center text-white pb-4">{title}</h1>
            <div class="text-slate-400 w-full text-center">
                <p>
                    <span class="font-bold">Categorie: </span> <span data-pagefind-filter="category">{category}</span>
                </p>
            </div>
            <div class="flex w-full justify-end pb-2">
                <a class="bg-blue-300 rounded px-2 py-1" href={printUrl} target="_blank">Print</a>
            </div>
            {allergies.length > 0 && allergies.map((allergy: AllergyType) => (
                    <span class="hidden" data-pagefind-filter="allergy">{allergy.name}</span>
            ))}

            <Ingredients client:load ingredients={ingredients} data-pagefind-ignore/>

            <Eaters client:load allergies={allergies} data-pagefind-ignore></Eaters>

            <div class="bg-slate-200 p-2 prose max-w-full rounded">
                {notes?.length > 0 && (
                        <div class="flex flex-col gap-2">
                            {notes.map((note: NoteType) => (
                                    <div class="bg-green-200 border-2 border-green-500 text-sm rounded py-1 px-2">
                                        {note.type === 'tip' && (
                                                <span class="font-bold text-green-800">Tip:</span>
                                        )}
                                        {note.content}
                                    </div>
                            ))}
                        </div>
                )}
                <slot/>
            </div>
        </div>
    </div>
</BaseLayout>
