---
let {title, description, date, tags, ingredients} = Astro.props;
import Print from "../components/print/Print.svelte";
import {eaters} from "../components/stores/eatersStore";
---
<html lang="nl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>

    <link rel="icon" href="/favicon.png"/>
</head>
<body class="p-4">
    <Print client:only="svelte"
           title={title} description={description} date={date} tags={tags} ingredients={ingredients}>
        <slot/>
    </Print>
</body>
</html>
