---
import BaseLayout from "./BaseLayout.astro";
import Ingredients from "../components/ingredients/Ingredients";
import Eaters from "../components/eaters/Eaters";
import type {AllergyType, RecipeIngredientType} from "../content/config";
import {Astro} from "astro/env";

let {title, description, date, tags, ingredients} = Astro.props;

let printUrl = Astro.url + '/print/';

let allergies = ingredients
    .map((ingredient: RecipeIngredientType) => ingredient.ingredient.allergies)
    .flat()
    .filter(Boolean);
---

<BaseLayout>
    <div class="mx-2 mt-2 text-white font-bold text-xl">
        <a href="/">< Terug</a>
    </div>
    <div class="min-h-screen flex justify-center items-center p-2" data-pagefind-body>
        <div class="w-full xl:w-2/3">
            <h1 class="text-4xl font-bold text-center text-white pb-4">{title}</h1>
            <div class="flex w-full justify-end pb-2">
                <a class="bg-blue-300 rounded px-2 py-1" href={printUrl} target="_blank">Print</a>
            </div>
            {allergies.length > 0 && allergies.map((allergy: AllergyType) => (
                    <span class="hidden" data-pagefind-filter={allergy.name}></span>
            ))}

            <Ingredients client:load ingredients={ingredients} data-pagefind-ignore/>

            <Eaters client:load allergies={allergies} data-pagefind-ignore></Eaters>

            <div class="bg-slate-200 p-2 prose max-w-full rounded">
                <slot/>
            </div>
        </div>
    </div>
</BaseLayout>
